@use '_variables' as v;
@use 'mixins' as *;
 
.hero{
    display: grid;
    grid-template-columns:65% 1fr;
    @include breakpoint(mobile){
        display: block;
        }

    &__content{
        max-width: 70%;
        margin-left: 46px;
        margin-bottom: 120px;
        @include breakpoint(mobile){
            max-width: 100%;
            margin-top: 50px;
            margin-right: 20px;
            margin-bottom: 50px;
            }
        
       
       
        .hero-title{
            color: v.$dark-blue;
            font-size: 53px;
            line-height: 70px;
            margin-bottom: 30px;
            @include breakpoint(mobile){
           font-size: 50px;
            }
        }
        .hero-description{
            color: v.$grey;
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 30px;
    
        }
        aside{
            display: flex;
        }

        .hero-button ul{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 40px;
            margin-bottom: 80px;
            @include breakpoint(mobile){
            display: block;
            }
            li{
                @include breakpoint(mobile){
                margin-bottom: 30px;
            }
          }
            a{
                color: v.$dark-blue;
                text-decoration: none;
                padding: 20px 0;
                &:hover{
                    color: v.$cyan;
                }
            }

            .btn{
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline-block;
                padding: 12px 30px;
                color: white;
                background-color: v.$dark-blue;
                text-decoration: none;
                border-radius: 32px;
                &:hover{
                    color: v.$dark-blue;
                    background-color: v.$cyan;
                    transition: 2s;
                }
            }
        
            .hero-video{
                background-image: url(/img/icon-play.svg);
                background-repeat: no-repeat;
                background-position-x: -30px;
                background-position-y: -10px;
                background-size: 120px;
                padding-left: 70px;
            }
        }
        .hero__informations{
            display: flex;
            justify-content: space-around;
            background-color: white;
            border-radius: 10px;
            width: 80%;
            @include breakpoint(tablet){
                width: 100%;
            }

            .information{
                margin: 30px 10px;
                width: 120px;
                @include breakpoint(tablet){
                     width: 80px;
                    }
                
                &-icon img{
                    width: 50px;
                    margin-bottom: 20px;
                    margin-left: 40px;
                    @include breakpoint(mobile){
                        margin-left: 0;
                        margin-bottom: 10px;
                    }
                }

                &-title{
                    color: v.$dark-blue;
                    font-weight: 500;
                    font-size: 32px;
                    margin-bottom: 10px;
                    margin-left: 15px;
                    text-align: center;
                    @include breakpoint(tablet){
                     margin-left: 40px;   
                     font-size: 24px;
                    }
                    @include breakpoint(mobile){
                    margin-left: 0;
                    text-align: start;
                }
                }
                &-description{
                    color: v.$grey;
                    font-size: 16px;
                    width: 140px;
                    text-align: center;
                    @include breakpoint(tablet){  
                     font-size: 10px;
                    }
                    @include breakpoint(mobile){
                    width: 0;
                }
                }
            }
        }

        .hero__img{
            img{
                width: 700px;
                position: absolute;
                top: 10%;
                right: 21%;
                z-index: 1;
                @include breakpoint(desktop){
                width: 600px;
                }
                @include breakpoint(tablethorizontal){
                width: 500px;
                right: 18%;
                }
                @include breakpoint (tablet){
                    visibility: hidden;
                }
            }
        }
            
    }

    &__testimony{
        @include breakpoint(mobile){
            justify-items: center;
            padding-left: 70px;
        }
        .hero-testimony{
            position: relative;
        }
        

        .img-symbol{
            width: 400px;
            opacity:0.1;
            position: absolute;
            top: 10%;
            right: 20%;
            @include breakpoint(tablethorizontal){
                right: 10%;
            }
            @include breakpoint(tablet){
                width: 300px;
                top: 20%;
                right: 30%;
            }
            @include breakpoint(mobile){
                width: 250px;
                top: 25%;
                right: 30%;
            }
           
        }

        .testimony-1{
            position: absolute;
            z-index: 2;
            width: 300px;
            background-color: #FFFFFF80;
            backdrop-filter: blur(8px);
            border-radius: 16px;
            padding: 25px 16px;
            top: 40%;
            right: 12%;
            @include breakpoint(tablet){
                right: 7%;
            }
            @include breakpoint(mobile){
            position: relative;
            justify-items: center;
            width: 300px;
            margin-bottom: 20px
            }
        }
        
        .testimony-2{
            position: absolute;
            z-index: 2;
            width: 290px;
            background-color: #FFFFFF80;
            backdrop-filter: blur(8px);
            border-radius: 16px;
            padding: 25px 16px;
            bottom: 12%;
            right: 18%;
            @include breakpoint(tablethorizontal){
                bottom: 5%;
            }
             @include breakpoint(tablet){
                right: 7%;
            }
            @include breakpoint(mobile){
            position: relative;
            justify-items: center;
            width: 300px;
            margin-bottom: 20px;
            }
        }

        .testimony-description{
            color:v.$black;
            font-weight: 400;
            font-size: 15px;
            span{
            display: block;
            color: v.$dark-blue;
            font-size: 60px;
            padding-top: 10px;
            line-height: 0;
            }
            
        }
        .testimony-title{
            color: v.$dark-blue;
            font-size: 15px;
        }
        
    }
}